<!doctype html>
<title>Flaskr</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<div class="class1" id="header">
<div class="class2" id="title">
Schmidt
</div>

<div class="class3" id="navibar">
<ul class="css1">
<li class="css2">首页</li>
<li class="css2">文章</li>
<li class="css2">图库</li>
<li class="css2">新闻</li>
<li class="css2"><div class="css3"><a href="http://www.bing.com">搜索</a></div></li>
<li class="css2"><div>
  {% if not session.logged_in %}
    <div class="css3"><a href="{{ url_for('login') }}">登录</a></div>
  {% else %}
    <div class="css3"><a href="{{ url_for('logout') }}">退出</a></div>
  {% endif %}
  </div></li>
</ul>
</div>
</div>

<div class="page">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

<div class="class5" id="footer"><div style="color:#FFF">Copyright @SchmidtHUANG</div></div>

</body>
